include ../../../img/svg/google-badge.pug
mixin main-screen__gglPlay(modifier)
  if modifier["googlePlayLink"] == undefined
    - modifier["googlePlayLink"] = "#!";
  a.main-screen__gglPlay(href=modifier.googlePlayLink)&attributes(attributes)
    +google-badge()