mixin main-screen__img(modifier)
  picture.main-screen__img&attributes(attributes)
    source(type='image/webp' srcset=require('../../img/mobile-phone-sm.jpg') media="(max-width: 766px)")
    source(type='image/webp' srcset=require('../../img/mobile-phone.jpg') media="(min-width: 767px)")
    img(src=require('../../img/mobile-phone-sm.jpg') alt="mobile-phone")