.main-screen {
  font-style: normal;
  font-weight: 750;
  font-family: 'Roboto_Flex' ,"Times" , serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
@import '__title/main-screen__title';
@import '__buttons/main-screen__buttons';
@import '__gglPlay/main-screen__gglPlay';
@import '__appStore/main-screen__appStore';
@import '__img-container/main-screen__img-container';
@import '__img/main-screen__img';
@import '__container/main-screen__container';
@import '__label/main-screen__label';
@import '__link-down/main-screen__link-down';
