include __label/main-screen__label.pug
include __container/main-screen__container.pug
include __img/main-screen__img.pug
include __img-container/main-screen__img-container.pug
include __appStore/main-screen__appStore.pug
include __gglPlay/main-screen__gglPlay.pug
include __buttons/main-screen__buttons.pug
include __description/main-screen__description.pug
include __title/main-screen__title.pug
include __text-container/main-screen__text-container.pug
include __start-button/main-screen__start-button.pug
include __proposal/main-screen__proposal.pug
mixin main-screen(modifier)
  if modifier == undefined
    - modifier = {};
  section.main-screen&attributes(attributes)
    +main-screen__container(modifier)
    +main-screen__img-container(modifier)
    //-Удали неиспользуемы include