mixin main-screen(modifier)
  div.containeronepagescroll
    section.one#section-one
      h2 Первая секция
    section.two#section-two
      h2 вторая секция
    section.three#section-three
      h2 Третье секция
  //- article.main-screen&attributes(attributes)

