include ../../blocks/main-screen/main-screen.pug
include ../../blocks/header/header.pug
doctype html
html(lang="ru")
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title IJS
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body
    +header({
      logoLink: "https://jegoteam.com/IJS/"
    })
    main.main
      +main-screen({
        title: `Постройте дом быстрее и легче через приложение`,
        label: `Скоро запуск`,
      })
      +main-screen({title: `Вторая секция, просто, чтобы показать, как работает onepage-scroll`})