include ../../../img/svg/appStore.pug
mixin main-screen__appStore(modifier)
  if modifier["appStoreLink"] == undefined
    - modifier["appStoreLink"] = "#!";
  a.main-screen__appStore(href=modifier.appStoreLink)&attributes(attributes)
    +appStore()